[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.9"
joblib = "==1.4.2"
mlflow = "==2.16.2"
mlflow-skinny = "==2.16.2"
numpy = "==2.2.3"
pandas = "==2.2.3"
pydantic = "==2.10.6"

[dev-packages]

[requires]
python_version = "3.9"
